
.page-container {
    
    min-height: 100vh;
  }

.header{
    background-image: radial-gradient(at top left, #ebcbf7 0%, #f9e9ec 15%, #fdfcf9 30%);
    padding: 40px 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 row-gap: 70px;
    
}
.main-content{
  padding: 40px 80px;
}
